.active-true {
    border: red 2px solid;
}

* {
    box-sizing: border-box;
    margin: 0;
}
.dot{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
}

.dot.active-true {
    background-color: red;
}

#slider {
     position: relative;
   width: 200px;
   height: 210px;
   border: 3px green dotted;
   margin: 0px 0 0 200px;
}


.anim-true {
     transition: all 0.2s linear;
}
.anim-false {
    transition: none;
}
#slides {
   
    font-size: 0;
   white-space: nowrap;
   top: 0;
   left: -200px;
   margin: 0; padding: 0;
    display: block;
    position: relative;
}
#slides img {
     font-size: 0;
     position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    transition: all linear 0.2s;
}